<%= form_with(model: disciplina, local: true) do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome_disciplina %>
    <%= form.text_field :Nome_disciplina %>
  </div>

  <div class="field">
    <%= form.label :Turma %>
    <%= form.text_field :Turma %>
  </div>

  <div class="field">
    <%= form.label :Dias_de_aula %>
    <%= form.text_field :Dias_de_aula %>
  </div>

  <div class="field">
    <%= form.label :Horario %>
    <%= form.text_field :Horario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
