<html lang="pt-br">
   <body>
 
     <header class="header">
     <h3>Estágio<span>Pró</span></h3>
     <p>Alocação de Estagiários Docentes</p>
   
     </header>

<p id="notice"><%= notice %></p>

<h1>PROFESSORES</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.Nome %></td>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Exibir', professor %></button></td>
          <td><button type="button" class="btn btn-secondary"><%= link_to 'Editar', edit_professor_path(professor) %></button></td>
          <td><button type="button" class="btn btn-danger"><%= link_to 'Deletar', professor, method: :delete, data: { confirm: 'Você tem certeza?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

       <button type="button" class="btn btn-success"><%= link_to 'Novo Professor', new_professor_path %></button>


<footer class="footer">

			<div class="footer-left">

				<h3>Estágio<span>Pró</span></h3>

				<p class="footer-company-name">EstagioPró &copy; 2018</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Universidade Federal da Bahia <br> 
                        Instituto de Matemática <br>
                        Departamento de Ciência da COmputação <br>
                        PGComp  - Programa de Pós Graduação em CIência da Computação </span>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>Telefone: +55 (71) 3283-6273 / +55 (71) 3283-6308 <br>
					Fax: +55 (71) 3283-6276</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:ceapgmat@ufba.br">ceapgmat@ufba.br</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-address">
					<span>Endereço:</span>
					Centro de Atendimento à Pós-Graduação (CEAPG), Instituto de Matemática e Estatística, Universidade Federal da Bahia - Av. Adhemar de Barros, s/n - Campus de Ondina - 1º Andar - Salvador - Bahia, CEP 40.170-110
				</p>

				

			</div>

		</footer>

 
  </body>
  
</html> 
